body{
	width: 100%;
	height: 100%;
}

/* Variáveis */
@tam_bola: 16px;
@tam_linha: 40px;
@espessura_linha: 8px;
@cor_vertice: rgb(10, 10, 10);
@cor_linha_nao_marcada: rgb(240,240,240);
@cor_linha_hover: rgb(50,50,50);
@cor_linha_marcado: rgb(200,0,50);


#principal{
	height: 100%;
	width: 90%;
	position: relative;
}

#malha{
	border: 1px solid black;
	min-width: 800px;
	width: 100%;
	min-height: 600px;
	height: 100%;
}

.malha-escrita{
	margin: 26px 170px;
}

.resultado-tabuleiro{
	margin: 26px 170px;
	height: 60px;
}

#malha-quadrados{
	left: 171px;
    position: absolute;
    top: 159px;
    z-index: -1;
}

.fundo-quadrado{
	width: @tam_linha;
	height: @tam_linha;
	float: left;
	position: relative;
	-webkit-border-radius: 4px;
	border-radius: 4px; 
	margin-left: @tam_bola;
	margin-top: @tam_bola;
	background-color: white;
}

.fundo-quadrado p{
    left: 11px;
    position: absolute;
    top: -6px;
}

.fundo-quadrado-pc{
	background-color: orange;
}

.fundo-quadrado-jogador{
	background-color: #4DD2FA;
}

small.erro{
    color: red;
}

.vencedor{
    color: green;
}

.perdedor{
    color: red;
}

.empate{
    color: yellow;
}

.linha-horizontal, .linha-vertical, .vertice {
	float:left;
}

.linha-horizontal{
	background-color: @cor_linha_nao_marcada;
	width: @tam_linha;
	height: @espessura_linha;
	margin-top: (@tam_bola - @espessura_linha) / 2;
	&:hover{
		background-color: @cor_linha_hover;
	}
}

.linha-vertical{
	background-color: @cor_linha_nao_marcada;
	width: @espessura_linha;
	height: @tam_linha;
	margin-left: @tam_linha + (@tam_bola/2);
	&:hover{
		background-color: @cor_linha_hover;
	}
}

.linha-vertical-first{
	margin-left: (@tam_bola - @espessura_linha) / 2;
	clear: left;
}


.vertice{
	width: @tam_bola;
	height: @tam_bola; 
    -webkit-border-radius: @tam_bola;
	-moz-border-radius: @tam_bola;
	background-color: @cor_vertice;
}

.vertice-first{
	clear: left;
}

.marcado{
	background-color: @cor_linha_marcado;
}
